body {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

body > * {
    padding: 10px;
    border: 1px solid red;
    flex-grow: 1;
    flex-basis: 200px;
}

header, footer {
    flex-basis: 100%;
}

header {
    background: tomato;
    order: 1;
}

.footer {
    background: lightgreen;
    order: 5
}

body > .main-article {
    background-color: deepskyblue;
    order: 3;
}

.aside-1 {
    background-color: gold;
    order: 2;
}

.aside-2 {
    background-color: hotpink;
    order: 4;
}

@media (max-width: 800px) {
    body {
        background-color: red;
    }

    article {
        flex-basis: 100%;
        order: 2;
    }

    body .aside-1 {
        order: 3;
    }

    body .aside-2 {
        order: 4;
    }

}

@media (max-width: 600px) {
    body {
        background-color: yellow;
    }
    body .aside-2,body .aside-2{
        flex-basis:100%;
    }
}
