@media screen and ( min-width: 465px ) and (max-width:980px ) {

    body{
        width:100%;
    }
    .wrap-header{
       display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header>.wrap-header >*{
        position: static;
        display: block;
        border: 1px solid red;
    }
    header>.wrap-header> #logo{
        display: block;
        position: static;
        order: 2;

    }
    .wrap-header>nav>.wrap-nav{
        position: static;
        display: block;
    }
}

@media  screen and  (max-width: 465px){
    .wrap-header nav{
        display: none;
    }
}
